#footer-content {
    color: burlywood;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 30px;
    text-align: center;
    align-self: center;
}