#footer-wrapper {
    background: rgba(0,0,0,0.2);
    background-size: cover;
    justify-content: center;
    width: 400px;
}

#footer-content {
    color: burlywood;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    text-align: center;
    align-self: center;
}