#intro-content {
    width: inherit;
    margin: 0 auto;
}

#home-intro-content {
    padding-top: 20px;
    padding-bottom: 10px;
    width: inherit;
}

#home-intro-content > a {
    color: darkorange;
    font-size: 16px; !important;
    font-weight: 700; !important;
}