#icon-image-wrapper {
    /*background-color: aquamarine;*/
    display: inline-block;
    /*position: relative;*/
    left: 0;
    vertical-align:top; /*added*/
    float: left;
    width: 80;
    height: inherit;
    padding-top: 5px;
    padding-left: 5px;
    /*margin-top: 5px;
    margin-left: 5px;*/
}

#header-text-wrapper {
    display: inline-block;
    /*background-color: #0C91EC;*/
    /*position: relative;*/
    vertical-align: middle; /*added*/
    /*margin:0 auto;*/
    float: left;
    width: 600px;
    height: inherit;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#fb-button-wrapper {
    /*background-color: #257AB6;*/
    vertical-align: right;
    float: right;
    text-align: right;
    height: inherit;
    width: 200px;
    padding-top: 10px;
}