#banner-carousel-wrapper {
    background-color: black;
    /*float: left;*/
    margin: 0 auto;
}

#banner-carousel {
    margin: 0 auto;
}

.carousel-fade .carousel-inner .item {
    transition: opacity ease-in-out 2s;
    opacity: .2;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;

    /*-webkit-transition: 2s ease-in-out opacity;
    -moz-transition: 2s ease-in-out opacity;
    -ms-transition: 2s ease-in-out opacity;
    -o-transition: 2s ease-in-out opacity;
    transition: 2s ease-in-out opacity;*/
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

/*.item img {
    display: block;
    max-width:900px;
    max-height:230px;
    !*width: auto;
    height: auto;*!
    margin:0 auto;
    !*width: 900px;
    height: 230px;*!
}*/

#inner-carousel {
    margin:0 auto;
    height: auto;
}

.banner-item {
    width: 650px; /*specify width and height to show image*/
    height: 900px;
    background-repeat:no-repeat;
    background-size:contain;
}

#banner01 {
    background-image: url("../assets/banner/kaida-banner01.jpg");
}

#banner02 {
    background-image: url("../assets/banner/kaida-banner02.jpg");
}
#banner03 {
    background-image: url("../assets/banner/kaida-banner03.jpg");
}
#banner04 {
    background-image: url("../assets/banner/kaida-banner04.jpg");
}
#banner05 {
    background-image: url("../assets/banner/kaida-banner05.jpg");
}


.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
}
.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;

}

/*#banner-carousel-wrapper {
    !*height: auto;
    min-height: 390px;*!
    height: 230px;
}*/

/*@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        transition: transform 2s ease-in-out;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: transform 2s ease-in-out;
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: transform 2s ease-in-out;
    }
}*/
